# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @Filmstund/backend @Filmstund/frontend 

/frontend/ @Filmstund/frontend
/backend/ @Filmstund/backend
