# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @Edholm @lindskogen


# @lindskogen owns any files in the frontend
# directory at the root of the repository and any of its
# subdirectories.
/frontend/ @lindskogen

# @Edholm owns any files in the backend
# directory at the root of the repository and any of its
# subdirectories.
/backend/ @Edholm
