:root {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #d0021b;
  --rdp-background-color: #fceaea;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #d0021b;
  --rdp-background-color-dark: #e7edff;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid var(--rdp-accent-color);
}

.rdp-weeknumber,
.rdp-day {
  border-radius: 0;
}

.rdp-table {
  border-collapse: separate;
}

.rdp-day_selected {
  color: #fff !important;
}

.filmstadendays {
  background-color: #fff;
  border-color: #d0021b;
  color: #d0021b;
}
