.goldButton {
  text-decoration: none;
  background-color: #ffd800;
  border-color: #ffd800;
  background: linear-gradient(to bottom, #ffd800 0%,#fcf080 100%);
  border-radius: 15px;
  border: 0;
  padding: 0.5em;
  box-shadow: inset 4px 4px 4px #ffd800;

  &:hover {
    background-color: #998200;
    background: linear-gradient(to bottom, #ccad00 0%,#f9e31f 100%);
    box-shadow: inset 4px 4px 4px #998200;
  }
}
