
.container {
    color: white;
    background: black;
    display: flex;
    padding: 0 2em 2em 0;
    margin-bottom: 1em;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    margin: 2em;
}

.description {
    flex: 1;
}

.fa-calendar {
    color: white;
}
