.container {

}

.table {
  display: table;
  width: 100%;
}

.tableRow:nth-child(even) {
    background-color: #f7f7f7;
}

.tableRow {
  display: table-row;
}

.tableCell {
  display: table-cell;
  text-transform: capitalize;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  margin-left: 1em;
}
