blockquote {
  font-family: Georgia;
  font-style: italic;
  text-align: center;
  background: #712;
  color: #fff;
  border: 0;
  border-radius: 0.5em;
  padding: 1em 3em;
  margin: 2em 0 0;
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before, blockquote:after {
  color: #E5BB25;
  display: block;
  font-size: 80px;
  position: absolute;
}
blockquote:before {
  content: open-quote;
  left: 0;
  top: -0.1em;
}
blockquote:after {
  content: close-quote;
  bottom: -0.5em;
  right: 0.1em;
}
blockquote p {
  display: inline;
}
blockquote footer {
  color: #c99;
  display: inline;
  font-size: small;
}
blockquote footer:before {
  content: "\2009 \2014 \2009";
  font-size: small;
}
