
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #712;
  text-align: left;
  padding: 0.2em 0;

  h2 {
    margin: 0 1em 0 0;
    font-weight: normal;
    font-size: medium;
  }

  time {
    color: #666;
  }

  button {
    margin-left: auto;
  }
}

.imdbLogo {
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.inactiveLogo {
  padding-right: 1em;
  filter: grayscale(100%);
  // opacity: 0.3;
  &:hover {
    filter: none;
    cursor: pointer;
  }
}

.imdbLogo > img, .inactiveLogo > img {
  height: 1.2em;
}


/*
.container {
    color: white;
    background: #222;
    flex-direction: row;
    flex: 1;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px;
    padding: 0 2em 2em 0;
    margin-bottom: 1em;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    margin: 2em;
}

.leftSide {
    flex: 1;
    display: flex;
}

.description {
    flex: 1;
    flex-direction: row;
    position: relative;
}

.header {
  display: flex;
  align-items: center;
  img {
    height: 1.2em;
  }
  h3 {
    padding-top: 0.2em;
  }
  time {
    color: gray;
  }
}

.footer{
  position: absolute;
  bottom:0px;
  color:white;
}

*/
