
.container {
  border-top: 1px solid #712;
  text-align: left;
  padding: 0.2em 0;

  h2 {
    margin: 0 1em 0 0;
    font-weight: normal;
    font-size: medium;
  }

  time {
    color: #666;
    margin-right: 1em;
  }

  button {
    margin-left: auto;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    cursor: pointer;
  }
}

.extraInfo {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}

.poster {
  img {
    max-height: 12em;
  }
}

.desc {
  padding: 0 0 1em 1em;
  max-width: 30em;
}

.runtime {
  margin-top: 1em;
}

.imdbLogo {
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.inactiveLogo {
  padding-right: 1em;
  filter: grayscale(100%);
  // opacity: 0.3;
  &:hover {
    filter: none;
    cursor: pointer;
  }
}

.imdbLogo > img, .inactiveLogo > img {
  height: 1.2em;
}

:global(.example-enter) {
  height: 0;
}

:global(.example-enter.example-enter-active) {
  height: 100%;
  transition: height 500ms ease-in;
}

:global(.example-leave) {
  height: 100%;
}

:global(.example-leave.example-leave-active) {
  height: 0;
  transition: height 300ms ease-in;
}
