
.container {
    color: white;
    background: black;
    display: flex;
    padding: 0 2em 2em 0;
    margin-bottom: 1em;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    margin: 2em;
}

.leftSide {
    flex: 1;
    display: flex;
}

.description {
    flex: 1;
    position: relative;
}

.header {
  display: flex;
  align-items: center;
  img {
    height: 1.2em;
  }
  h3 {
    padding-top: 0.2em;
  }
  time {
    color: gray;
  }
}

.footer{
  position: absolute;
  bottom:0px;
  color:white;
}

.imdbLogo {
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.inactiveLogo {
  filter: grayscale(100%);
  // opacity: 0.3;
}