html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html, body, body > div {
  height: 100%;
}

body {
  font-family: 'Open Sans', serif;
  background-image: url(/body_background.jpg);
  color: white;
  min-height: 100%;
}

* { box-sizing: border-box;}

.main {
    height: 100%;
    padding: 0 1em
}

.rootContainer {
  color: black;
  padding-bottom: 4em;
}

.rootContainer div {
  display: flex;
  flex-direction: column;
}
