.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: #712;
  border-radius: 0.5em;

  img {
    height: 70px;
  }

  a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 1em 2em;

    &:hover, &:focus, &.activeLink {
      color: #ffd800;
    }
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    display: inline;
  }
}

.left {
  display: flex;
  flex-direction: row;
}

a.signOut {
  font-weight: normal;
}
