
.container {
  background: white;
  border-radius: 0.5em;
  padding: 0 2em 2em;
  margin-bottom: 2em;

  h2 {
    font-weight: lighter;
    margin-bottom: 0.3em;
  }

  h3 {
    font-weight: lighter;
    margin: 0 0 0.3em;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.showingInfo {
  font-size: smaller;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    margin: 2em;
}

.timePicker {
    margin-top: 1.5em;
}

.fa-calendar {
    color: white;
}

.buttonAndGraphContainer {
    display: flex;
    margin-top: 0.8em;
}

.slotButtonContainer {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 28px;
    justify-content: space-around;
}

.timeSlotButton {
    box-sizing: border-box;
    height: 17px;
    width: 17px;
    margin: 1px 0;
    background: #eee;
    border: 3px solid #712;
    border-radius: 9px;
    cursor: pointer;
}

.timeSlotButton:hover {
    background: #f5cc35;
}

.selected {
    background: #712;
    border: 3px solid #712;
    cursor: default;
}

.selected:hover {
    background: #712;
}

.is_vip, .is_3d {
    margin-left: 0.3em;
    font-size: smaller;
    padding: 0 0.3em;
    min-width: 20px;
    display: inline-block;
    background: goldenrod;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
}

.is_3d {
    background: #f00;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.numberOfAttendees {
  font-size: smaller;
  margin-bottom: 0.3em;
}

.attendees {
  padding: 1em 0 0.5em;
}

.adminContainer {
  background-color: #eee;
  margin: 2em -2em;
  padding: 1em 2em;
}

.attendeeSummary {
  padding: 1em 0;
}
