
.container {
  background: white;
  border-radius: 0.5em;
  padding: 0 2em 2em;
  margin-bottom: 2em;

  h2 {
    font-weight: lighter;
    margin-bottom: 0.3em;
  }

  h3 {
    font-weight: lighter;
    margin-bottom: 0.3em;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.showingInfo {
  font-size: smaller;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    margin: 2em;
}

.timePicker {
    flex: 1;
    margin-top: 1em;
}

.fa-calendar {
    color: white;
}

.slotButtonContainer {
    display: flex;
    flex-wrap: wrap;
}

.timeSlotButton {
    margin: 0.3em;
    background: rgba(119, 17, 34, 0.61);
    padding: 0.5em;

}