
.daysContainer {
    justify-content: center;
    user-select: none;
}

.is_vip, .is_3d {
    margin-left: 0.3em;
    font-size: smaller;
    padding: 0 0.3em;
    min-width: 20px;
    display: inline-block;
    background: #712;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
}

.daysRow {
    justify-content: center;
}

.daysContainer, .daysRow, .doodleSlot, .doodleDay {
    display: flex;
}

.time {
    font-weight: bold;
}

.tags {
    padding: 0.2em 0;
    margin-bottom: 0.4em;
}

.doodleSlot {
    padding: 1em 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 8em;
    width: 6em;
    border-bottom: 1px solid white;
    background: #eee;

    &.selected {
        background: #E5BB25;
        color: black;

        &:hover {
            background: #f5cc35;
        }
    }

    &:hover {
        background: #f5f5f5;
        cursor: pointer;
    }

    small {
        font-weight: 100;
    }

    .users {
      font-size: smaller;
      margin-top: 0.5em;
    }
}

.doodleDate {
    border-bottom: 1px solid white;
    text-align: center;
    background: black;
    color: white;
}

.doodleDay {
    flex-direction: column;
    border-right: 1px solid white;

    &:last-child {
        border-right: 0;
    }
}
